<.header>
  New Scale
  <:subtitle>Use this form to manage scale records in your database.</:subtitle>
</.header>

<.scale_form changeset={@changeset} action={~p"/grading/scales"} />

<.back navigate={~p"/grading/scales"}>Back to scales</.back>
