<.header>
  New School
  <:subtitle>Use this form to manage school records in your database.</:subtitle>
</.header>

<.school_form changeset={@changeset} action={~p"/admin/schools"} />

<.back navigate={~p"/admin/schools"}>Back to schools</.back>
