<main class="min-h-screen p-10 ltrn-bg-main">
  <%= @inner_content %>
</main>
<.live_component
  module={LantternWeb.MenuComponent}
  id={:menu}
  current_user={@current_user}
  current_path={@current_path}
/>
<.flash_group flash={@flash} />
