<!DOCTYPE html>
<html lang={LantternWeb.LocalizationHelpers.get_html_lang()} class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" • Lanttern">
      <%= assigns[:page_title] || gettext("Hey!") %>
    </.live_title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased min-h-screen text-ltrn-dark">
    <%= @inner_content %>
    <div
      id="cookies-container"
      class="z-50 fixed bottom-0 inset-x-0 hidden justify-end p-6 sm:p-10"
      phx-hook="Cookies"
    >
      <div class="w-full max-w-xs p-6 rounded bg-white shadow-lg">
        <h6 class="font-display font-bold">
          🍪 <%= gettext("Lanttern uses cookies...") %>
        </h6>
        <p class="mt-4">
          <%= gettext(
            "...but only the necessary for session persistence, keeping you logged in even when you close the browser and come back the other day."
          ) %>
        </p>
        <button type="button" class="mt-6 underline" id="accept-cookies-button">
          <%= gettext("Understood!") %>
        </button>
      </div>
    </div>
  </body>
</html>
