<!DOCTYPE html>
<html lang={LantternWeb.LocalizationHelpers.get_html_lang()} class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" • Lanttern">
      {assigns[:page_title] || gettext("Hey!")}
    </.live_title>

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#292524" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link phx-track-static rel="stylesheet" href={~p"/vendor/glider.min.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <!-- Plausible analytics -->
    <script
      defer
      data-domain={System.get_env("PHX_HOST") || "localhost"}
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>
  <body class="bg-white antialiased min-h-screen font-serif text-base text-ltrn-dark">
    {@inner_content}
    <div
      id="cookies-container"
      class="z-50 fixed bottom-0 inset-x-0 hidden justify-end p-6 sm:p-10"
      phx-hook="Cookies"
    >
      <div class="w-full max-w-xs p-6 rounded-sm bg-white shadow-lg">
        <h6 class="font-display font-bold">
          🍪 {gettext("Lanttern uses cookies...")}
        </h6>
        <p class="mt-4">
          {gettext(
            "...but only the necessary for session persistence, keeping you logged in even when you close the browser and come back the other day."
          )}
        </p>
        <button type="button" class="mt-6 underline" id="accept-cookies-button">
          {gettext("Understood!")}
        </button>
      </div>
    </div>
  </body>
</html>
