<.header>
  New Curriculum relationship
  <:subtitle>Use this form to manage curriculum_relationship records in your database.</:subtitle>
</.header>

<.curriculum_relationship_form
  curriculum_item_options={@curriculum_item_options}
  changeset={@changeset}
  action={~p"/admin/curriculum_relationships"}
/>

<.back navigate={~p"/admin/curriculum_relationships"}>
  Back to curriculum_relationships
</.back>
