<.header>
  Edit Subject <%= @subject.id %>
  <:subtitle>Use this form to manage subject records in your database.</:subtitle>
</.header>

<.subject_form changeset={@changeset} action={~p"/admin/taxonomy/subjects/#{@subject}"} />

<.back navigate={~p"/admin/taxonomy/subjects"}>Back to subjects</.back>
