<.header>
  New Ordinal scale
  <:subtitle>Use this form to manage ordinal_scale records in your database.</:subtitle>
</.header>

<.ordinal_scale_form changeset={@changeset} action={~p"/grading/ordinal_scales"} />

<.back navigate={~p"/grading/ordinal_scales"}>Back to ordinal_scales</.back>
