<.header>
  Ordinal scale <%= @ordinal_scale.id %>
  <:subtitle>This is a ordinal_scale record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/grading/ordinal_scales/#{@ordinal_scale}/edit"}>
      <.button>Edit ordinal_scale</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @ordinal_scale.name %></:item>
</.list>

<.back navigate={~p"/grading/ordinal_scales"}>Back to ordinal_scales</.back>
