<Layouts.settings
  flash={@flash}
  current_user={@current_user}
  current_path={@current_path}
  live_action={@live_action}
>
  <p>{gettext("Select a settings page on the left")}</p>
</Layouts.settings>
