<.header>
  Item <%= @item.id %>
  <:subtitle>This is a item record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/curriculum/items/#{@item}/edit"}>
      <.button>Edit item</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @item.name %></:item>
</.list>

<.back navigate={~p"/curriculum/items"}>Back to items</.back>
