@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* import Montserrat, Open Sans, and Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital@0;1&display=swap');

/* This file is for your main application CSS */

.ltrn-bg-main {
  background-attachment: fixed;
  background-image:
    radial-gradient(circle at 100% 160px, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 85% -200px, #DDD6FE 360px, transparent 480px),
    radial-gradient(circle at 15% 96px, #ECFEFF 360px, transparent 480px);
}

.ltrn-bg-main-local {
  background-attachment: local;
  background-image:
    radial-gradient(circle at 100% 160px, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 85% -200px, #DDD6FE 360px, transparent 480px),
    radial-gradient(circle at 15% 96px, #ECFEFF 360px, transparent 480px);
}

.ltrn-bg-landing {
  background-image:
    radial-gradient(circle at 80% 25%, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 60% 0, #CCFBF1 240px, transparent 360px),
    radial-gradient(circle at 15% 110%, #FFEDD5 360px, transparent 480px);
}

.ltrn-bg-slide-over {
  background-image:
    radial-gradient(circle at 10% 70%, #FEF9C3 160px, transparent 240px),
    radial-gradient(circle at 30% 120%, #ECFCCB 360px, transparent 480px)
}

.ltrn-bg-menu {
  background-image:
    radial-gradient(circle at 40% 120%, #FEF9C3 200px, transparent 360px),
    radial-gradient(circle at 10% 130%, #ECFCCB 360px, transparent 480px)
}

/* landing page */

#cover-spot-1 {
  animation: 8s ease-in-out 2s infinite alternate landing-cover-spot-1;
}

#cover-spot-2 {
  animation: 6s ease-in-out 1s infinite alternate landing-cover-spot-2;
}

#cover-spot-3 {
  animation: 4s ease-in-out 0s infinite alternate landing-cover-spot-3;
}

@keyframes landing-cover-spot-1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100vw, 100%);
  }
}

@keyframes landing-cover-spot-2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100vw, 50%);
  }
}

@keyframes landing-cover-spot-3 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-60vw, -100%);
  }
}

#curriculum-spot-1 {
  animation: 8s linear 0s infinite normal spin;
}

#curriculum-spot-2 {
  animation: 10s linear 2s infinite reverse spin;
}

#curriculum-spot-3 {
  animation: 8s linear 1s infinite normal spin;
}

#curriculum-spot-4 {
  animation: 10s linear 3s infinite reverse spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}