/* default is to use prefers-color-scheme */
/* if you want dark mode via class: */
/* @custom-variant dark (&:where(.dark, .dark *)); */

@custom-variant phx-no-feedback (.phx-no-feedback&, .phx-no-feedback &);
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant group-phx-click-loading (&:where(.group.phx-click-loading *));
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant group-phx-submit-loading (&:where(.group.phx-submit-loading *));
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);
@custom-variant peer-phx-change-loading (&:where(.peer.phx-change-loading ~ *));
@custom-variant peer-phx-click-loading (&:where(.peer.phx-click-loading ~ *));

@plugin "./heroicons.tailwind.plugin.js";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";


@theme inline {
  --color-ltrn-primary: var(--color-cyan-400);
  --color-ltrn-secondary: var(--color-rose-500);
  --color-ltrn-dark: var(--color-stone-700);
  --color-ltrn-subtle: var(--color-stone-400);
  --color-ltrn-light: var(--color-stone-300);
  --color-ltrn-lighter: var(--color-stone-200);
  --color-ltrn-lightest: var(--color-stone-100);

  --color-ltrn-mesh-primary: var(--color-cyan-200);
  --color-ltrn-mesh-cyan: var(--color-cyan-50);
  --color-ltrn-mesh-rose: var(--color-rose-100);
  --color-ltrn-mesh-violet: var(--color-violet-200);
  --color-ltrn-mesh-yellow: var(--color-yellow-100);
  --color-ltrn-mesh-lime: var(--color-lime-100);

  --color-ltrn-ai-dark: var(--color-amber-900);
  --color-ltrn-ai-accent: var(--color-amber-500);
  --color-ltrn-ai-light: var(--color-amber-300);
  --color-ltrn-ai-lighter: var(--color-amber-200);
  --color-ltrn-ai-lightest: var(--color-amber-50);
  --color-ltrn-ai-spectrum-main: var(--color-cyan-300);
  --color-ltrn-ai-spectrum-1: var(--color-purple-500);
  --color-ltrn-ai-spectrum-2: var(--color-green-300);
  --color-ltrn-ai-spectrum-3: var(--color-yellow-300);
  --color-ltrn-ai-spectrum-4: var(--color-rose-300);

  --color-ltrn-diff-dark: var(--color-violet-800);
  --color-ltrn-diff-accent: var(--color-violet-600);
  --color-ltrn-diff-lighter: var(--color-violet-200);
  --color-ltrn-diff-lightest: var(--color-violet-50);

  --color-ltrn-student-dark: var(--color-yellow-700);
  --color-ltrn-student-accent: var(--color-yellow-400);
  --color-ltrn-student-lighter: var(--color-yellow-200);
  --color-ltrn-student-lightest: var(--color-yellow-50);

  --color-ltrn-staff-dark: var(--color-lime-800);
  --color-ltrn-staff-accent: var(--color-lime-500);
  --color-ltrn-staff-lighter: var(--color-lime-200);
  --color-ltrn-staff-lightest: var(--color-lime-50);

  --color-ltrn-alert-accent: var(--color-red-500);
  --color-ltrn-alert-lighter: var(--color-red-100);

  --color-ltrn-warning-accent: var(--color-amber-500);
  --color-ltrn-warning-lighter: var(--color-amber-200);

  --color-ltrn-success-accent: var(--color-teal-500);
  --color-ltrn-success-lighter: var(--color-teal-100);

  --font-display: "Montserrat", sans-serif;
  --font-mono: "PT Mono", monospace;
  --font-sans: "PT Sans", sans-serif;
  --font-serif: "PT Serif", serif;
}

@custom-variant aria-current (&[aria-current="true"]);

button {
  cursor: pointer;
}

.ltrn-bg-main {
  background-attachment: fixed;
  background-image:
    radial-gradient(circle at 100% 160px, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 85% -200px, #DDD6FE 360px, transparent 480px),
    radial-gradient(circle at 15% 96px, #ECFEFF 360px, transparent 480px);
}

.ltrn-bg-main-local {
  background-attachment: local;
  background-image:
    radial-gradient(circle at 100% 160px, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 85% -200px, #DDD6FE 360px, transparent 480px),
    radial-gradient(circle at 15% 96px, #ECFEFF 360px, transparent 480px);
}

.ltrn-bg-landing {
  background-image:
    radial-gradient(circle at 80% 25%, #FFE4E6 240px, transparent 360px),
    radial-gradient(circle at 60% 0, #CCFBF1 240px, transparent 360px),
    radial-gradient(circle at 15% 110%, #FFEDD5 360px, transparent 480px);
}

.ltrn-bg-slide-over {
  background-image:
    radial-gradient(circle at 10% 70%, #FEF9C3 160px, transparent 240px),
    radial-gradient(circle at 30% 120%, #ECFCCB 360px, transparent 480px)
}

.ltrn-bg-menu {
  background-image:
    radial-gradient(circle at 40% 120%, #FEF9C3 200px, transparent 360px),
    radial-gradient(circle at 10% 130%, #ECFCCB 360px, transparent 480px)
}

.ltrn-bg-profile {
  background-image:
    radial-gradient(circle at 20% 60%, #ECFEFF 20%, transparent 60%),
    radial-gradient(circle at 0 0, #FFE4E6 20%, transparent 50%),
    radial-gradient(circle at 120% 120%, #DDD6FE 40%, transparent 60%);
}

.ltrn-ai-overlay-border {
  border-image: linear-gradient(
    to top right,
    var(--color-ltrn-ai-spectrum-1),
    var(--color-ltrn-ai-spectrum-main),
    var(--color-ltrn-ai-spectrum-2),
    var(--color-ltrn-ai-spectrum-3),
    var(--color-ltrn-ai-spectrum-4)
  ) 1;
}

.ltrn-ai-bg {
  background-image: linear-gradient(
    to right,
    white 25%,
    var(--color-ltrn-ai-spectrum-1),
    var(--color-ltrn-ai-spectrum-main),
    var(--color-ltrn-ai-spectrum-2),
    var(--color-ltrn-ai-spectrum-3),
    var(--color-ltrn-ai-spectrum-4),
    white 75%
  );
  background-size: 400%;
  animation: 4s ease-in-out 2s reverse infinite ltrn-ai-bg;
}

@keyframes ltrn-ai-bg {
  from {background-position: 0%}
  to {background-position: 100%}
}

.ltrn-ai-indicator-bg {
  background: white;
  background-image: linear-gradient(
    to right,
    var(--color-ltrn-ai-spectrum-1),
    var(--color-ltrn-ai-spectrum-main),
    var(--color-ltrn-ai-spectrum-2),
    var(--color-ltrn-ai-spectrum-3),
    var(--color-ltrn-ai-spectrum-4),
    var(--color-ltrn-ai-spectrum-1)
  );
  background-size: 200%;
  animation: 6s ease-in-out infinite ltrn-ai-indicator;
}

@keyframes ltrn-ai-indicator {
  from {background-position: 0%}
  to {background-position: 400%}
}

.ltrn-ai-spot-1-anim {
  animation: 2s ease-in-out infinite alternate ltrn-ai-spot-1;
}

.ltrn-ai-spot-2-anim {
  animation: 1s ease-in-out infinite alternate ltrn-ai-spot-2;
}

.ltrn-ai-spot-3-anim {
  animation: 0.5s ease-in-out infinite alternate ltrn-ai-spot-3;
}

.ltrn-ai-spot-4-anim {
  animation: 1s ease-in-out infinite alternate ltrn-ai-spot-4;
}

@keyframes ltrn-ai-spot-1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(50%, 50%);
  }
}

@keyframes ltrn-ai-spot-2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-50%, 75%);
  }
}

@keyframes ltrn-ai-spot-3 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-25%, -50%);
  }
}

@keyframes ltrn-ai-spot-4 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

/* landing page */

#cover-spot-1 {
  animation: 8s ease-in-out 2s infinite alternate landing-cover-spot-1;
}

#cover-spot-2 {
  animation: 6s ease-in-out 1s infinite alternate landing-cover-spot-2;
}

#cover-spot-3 {
  animation: 4s ease-in-out 0s infinite alternate landing-cover-spot-3;
}

@keyframes landing-cover-spot-1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100vw, 100%);
  }
}

@keyframes landing-cover-spot-2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100vw, 50%);
  }
}

@keyframes landing-cover-spot-3 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-60vw, -100%);
  }
}

#curriculum-spot-1 {
  animation: 8s linear 0s infinite normal spin;
}

#curriculum-spot-2 {
  animation: 10s linear 2s infinite reverse spin;
}

#curriculum-spot-3 {
  animation: 8s linear 1s infinite normal spin;
}

#curriculum-spot-4 {
  animation: 10s linear 3s infinite reverse spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* glider overrides */
.glider-dot {
  color: #cbd5e1;
  background: #cbd5e1;
  margin: 4px;
  width: 8px;
  height: 8px;
}
.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #22d3ee;
}
