<.header>
  Edit Year <%= @year.id %>
  <:subtitle>Use this form to manage year records in your database.</:subtitle>
</.header>

<.year_form changeset={@changeset} action={~p"/admin/years/#{@year}"} />

<.back navigate={~p"/admin/years"}>Back to years</.back>
