<.header>
  New Year
  <:subtitle>Use this form to manage year records in your database.</:subtitle>
</.header>

<.year_form changeset={@changeset} action={~p"/admin/taxonomy/years"} />

<.back navigate={~p"/admin/taxonomy/years"}>Back to years</.back>
