<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input
    field={f[:final_grade_scale_id]}
    type="select"
    label="Final grade scale"
    options={@scale_options}
    prompt="Select a scale"
  />
  <:actions>
    <.button>Save Composition</.button>
  </:actions>
</.simple_form>
