<.header>
  New Composition
  <:subtitle>Use this form to manage composition records in your database.</:subtitle>
</.header>

<.composition_form changeset={@changeset} action={~p"/grading/compositions"} />

<.back navigate={~p"/grading/compositions"}>Back to compositions</.back>
