<.header>
  New Curriculum
  <:subtitle>Use this form to manage curriculum records in your database.</:subtitle>
</.header>

<.curriculum_form changeset={@changeset} action={~p"/admin/curricula/cur"} />

<.back navigate={~p"/admin/curricula/cur"}>Back to curricula</.back>
