<.header>
  Curriculum <%= @curriculum.id %>
  <:subtitle>This is a curriculum record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/admin/curricula/cur/#{@curriculum}/edit"}>
      <.button>Edit curriculum</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Code"><%= @curriculum.code %></:item>
  <:item title="Name"><%= @curriculum.name %></:item>
</.list>

<.back navigate={~p"/admin/curricula/cur"}>Back to curricula</.back>
