<.responsive_container class="py-6 sm:py-10">
  <.page_title_with_menu>Dashboard 🚧</.page_title_with_menu>
  <div class="mt-40">
    <.link
      navigate={~p"/curriculum"}
      class="flex items-center mt-10 font-display font-black text-lg text-ltrn-subtle"
    >
      Curriculum <.icon name="hero-arrow-right" class="text-ltrn-primary ml-2" />
    </.link>
  </div>
</.responsive_container>
