<.header>
  New Numeric scale
  <:subtitle>Use this form to manage numeric_scale records in your database.</:subtitle>
</.header>

<.numeric_scale_form changeset={@changeset} action={~p"/grading/numeric_scales"} />

<.back navigate={~p"/grading/numeric_scales"}>Back to numeric_scales</.back>
