<.header>
  Edit Ordinal value <%= @ordinal_value.id %>
  <:subtitle>Use this form to manage ordinal_value records in your database.</:subtitle>
</.header>

<.ordinal_value_form
  scale_options={@scale_options}
  changeset={@changeset}
  action={~p"/admin/grading/ordinal_values/#{@ordinal_value}"}
/>

<.back navigate={~p"/admin/grading/ordinal_values"}>Back to ordinal_values</.back>
