<.header>
  Edit Curriculum Item <%= @curriculum_item.id %>
  <:subtitle>Use this form to manage curriculum item records in your database.</:subtitle>
</.header>

<.curriculum_item_form
  curriculum_component_options={@curriculum_component_options}
  subject_options={@subject_options}
  year_options={@year_options}
  changeset={@changeset}
  action={~p"/admin/curricula/curriculum_items/#{@curriculum_item}"}
/>

<.back navigate={~p"/admin/curricula/curriculum_items"}>Back to items</.back>
