<.header>
  Edit Student {@student.id}
  <:subtitle>Use this form to manage student records in your database.</:subtitle>
</.header>

<.student_form
  school_options={@school_options}
  class_options={@class_options}
  changeset={@changeset}
  action={~p"/admin/students/#{@student}"}
/>

<.back navigate={~p"/admin/students"}>Back to students</.back>
