<.header>
  New Student
  <:subtitle>Use this form to manage student records in your database.</:subtitle>
</.header>

<.student_form changeset={@changeset} action={~p"/admin/schools/students"} />

<.back navigate={~p"/admin/schools/students"}>Back to students</.back>
