<.header>
  New Student
  <:subtitle>Use this form to manage student records in your database.</:subtitle>
</.header>

<.student_form
  school_options={@school_options}
  class_options={@class_options}
  changeset={@changeset}
  action={~p"/admin/schools/students"}
/>

<.back navigate={~p"/admin/schools/students"}>Back to students</.back>
