<.header>
  Student <%= @student.id %>
  <:subtitle>This is a student record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/students/#{@student}/edit"}>
      <.button>Edit student</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @student.name %></:item>
</.list>

<.back navigate={~p"/students"}>Back to students</.back>
