<.header>
  Edit Teacher <%= @teacher.id %>
  <:subtitle>Use this form to manage teacher records in your database.</:subtitle>
</.header>

<.teacher_form
  school_options={@school_options}
  changeset={@changeset}
  action={~p"/admin/teachers/#{@teacher}"}
/>

<.back navigate={~p"/admin/teachers"}>Back to teachers</.back>
