<.header>
  New Composition component
  <:subtitle>Use this form to manage composition_component records in your database.</:subtitle>
</.header>

<.composition_component_form
  changeset={@changeset}
  composition_options={@composition_options}
  action={~p"/admin/grading_composition_components"}
/>

<.back navigate={~p"/admin/grading_composition_components"}>Back to composition_components</.back>
