<.header>
  Edit Assessment Point <%= @assessment_point.id %>
  <:subtitle>Use this form to manage assessment point records in your database.</:subtitle>
</.header>

<.assessment_point_form
  curriculum_item_options={@curriculum_item_options}
  scale_options={@scale_options}
  changeset={@changeset}
  action={~p"/assessments/#{@assessment_point}"}
/>

<.back navigate={~p"/assessments"}>Back to assessment points</.back>
