<Layouts.admin flash={@flash}>
  <.header>
    New Assessment
    <:subtitle>Use this form to manage assessment point records in your database.</:subtitle>
  </.header>

  <.assessment_point_form
    curriculum_item_options={@curriculum_item_options}
    scale_options={@scale_options}
    changeset={@changeset}
    action={~p"/admin/assessment_points"}
  />

  <.back navigate={~p"/admin/assessment_points"}>Back to assessment points</.back>
</Layouts.admin>
